.THIS .slds-card__body{
    min-height: var(--minHeight);
}
.THIS .slds-card__footer{
    position: sticky;
    bottom: -1rem;
    background: #fff;
    z-index: 1000;
}

.THIS .slds-card__header-title{
    display: flex;
    justify-content: center;
}