.container {
        background-color: #fff;
        border-left: 1px solid #c1c1c1;
        border-right: 1px solid #c1c1c1;
        margin: auto;
        padding: 1em;
        text-align: center;
        width: 1004px;
}

.body {
    background-color: #ebebeb;
    margin: auto;
    text-align: center;
}

.titoli {
    color: #195eb4;
}

.icone {
    height: 70px!important;
    margin: auto;
    width: 60%;
}

div {
    display: block;
}

ul li{
    display: inline;
  }

p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.MsoBodyText {
    margin: 0cm;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-justify: inter-ideograph;
    font-size: 12.0pt;
}