.savingdata::after {
    position: absolute;
    content: 'Attendi, stiamo salvando i dati';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    /*font-weight: bold;
    font-size: large;*/
}